* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;    
}
.welcome {
    height: 100vh;
    min-height: 500px;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    color: white;
    background-color: rgb(164, 0, 214);    
    text-align: center;
    padding: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(112, 12, 226);
}
.subtitle {
    color: rgb(164, 0, 214);
    font-size: 20px;
    padding: 20px    
}
.btn {
    color: white;
    background-color: rgb(164, 0, 214);    
    padding: 10px;
    box-shadow: 0 0 10px rgb(112, 12, 226);
    border: none;
    border-radius: 3px;
    font-size: 16px;
}
.btn:hover {
    color: rgb(164, 0, 214);
    background-color: rgb(240, 240, 240);
}